<footer>
  <p>
    Powered by <a href="https://github.com/tomaseidg/DevOps-URL-Shortener-Monitoring" title="The Devs" target="_blank" rel="noopener noreferrer">Team4@DEPI</a> <span>|</span> 
     <a href="/report" title="Report abuse">Report Abuse</a>
    {{/if}}
    {{#if contact_email}}
      <span>|</span> 
      <button class="link" hx-get="/get-support-email" hx-swap="outerHTML">
        <span>{{> icons/spinner}}</span>
        Contact us
      </button>
    {{/if}}
  </p>
</footer>
